* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*#navbar {
	background-color: #A76F6F;
}*/

#landing, #projects, #tools, #contact {
	color: #3AA6B9;
	font-family: 'Martel Sans', sans-serif;
}

#div1 {
	background-color: #FFECEC;
}

div #bghp {
	align-content: center;
	margin-left: 40%;
	margin-top: 20%;
}

div #girl1 {
	align-content: center;
	margin-left: 50%;
	margin-top: 20%;
}
